image: python:3.8

stages:
  - test
  - isort
  - lint
 

before_script:
  - apt update && apt install ffmpeg libsm6 libxext6  -y
  - pip install poetry
  - poetry config virtualenvs.create false
  - poetry install

tests:
  stage: test
  script:
    - curl -OJ https://nx9836.your-storageshare.de/s/7FGbJRn97NYB5pD/download && mv glomeruli_segmentation_16934_best_metric.model-384e1332.pth ./tests
    - poetry run python3 -m pytest

isort:
  stage: isort
  script:
    - poetry run isort .

lint:
  stage: lint
  script:
    - poetry run black .

# Static Type check:
#   stage: types
#   script:
#     - poetry run mypy .
